@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;1,300;1,400;1,500&display=swap');
/* Your other CSS styles go here */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
body{
  font-family: 'Jost', sans-serif;
}
button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
}
img{
  width: 100%;
  display: block;
}
.nav-i{
  color: black;
}
.su{
  color: white;
}
.su:hover{
  color:  #FF0000;
}
.lu{
  color:  #FF0000;;
}
.lu:hover{
  color: white;
}
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-uppercase{text-transform: uppercase;}
.text-lowercase{text-transform: lowercase;}
.text-capitalize{text-transform: capitalize;}

.text{
  color: #393646;
  opacity: 0.9;
  margin: 2rem 0;
  line-height: 1.6;
}

.fw-2{font-weight: 200;}
.fw-3{font-weight: 300;}
.fw-4{font-weight: 400;}
.fw-5{font-weight: 500;}
.fw-6{font-weight: 600;}
.fw-7{font-weight: 700;}
.fw-8{font-weight: 800;}

.fs-13{font-size: 13px;}
.fs-14{font-size: 14px;}
.fs-15{font-size: 15px;}
.fs-16{font-size: 16px;}
.fs-17{font-size: 17px;}
.fs-18{font-size: 18px;}
.fs-19{font-size: 19px;}
.fs-20{font-size: 20px;}
.fs-21{font-size: 21px;}
.fs-22{font-size: 22px;}
.fs-23{font-size: 23px;}
.fs-24{font-size: 24px;}
.fs-25{font-size: 25px;}

.ls-1{letter-spacing: 1px;}
.ls-2{letter-spacing: 2px;}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.6rem;
}

/* bars button */
.bars{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 16.5px;
    width: 25px;
}

.btn{
  font-size: 14.5px;
  font-weight: 600;
  padding: 1.4rem 1.6rem;
  border-radius: 4px;
  display: inline-block;
}


.btn-primary {
  background-color: #FF0000;
  text-align: center;
  font-weight: bold;
  border: 1px solid #FF0000;
  border-radius: 5px;
  width: 100px;
  height: 35px;
  color: white; /* Add this line to set text color to white */
    transition: all 300ms ease-in-out;
}

.btn-primary:hover {
  background-color: transparent;
  color: #163A5F; /* Change text color to white */
  border-color: #FF0000;
  font-weight: bold; /* Make it bold on hover */
}

.btn-secondary{
    background-color: transparent;
    color: #FF0000;
    border: 1px solid #FF0000;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    transition: all 300ms ease-in-out;
}
.btn-secondary:hover{
    background-color: #FF0000;
    color: #FFFAF4;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    border-color: #FF0000;
}

.btn-group button:first-child, .btn-group a:first-child{
    margin-right: 1rem!important;
}
.navbar{
    height: 65px;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.08) 0 3px 8px;
}
a{
  text-decoration: none;
}

.navbar .container{
    width: 100%;
}

.navbar-brand{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.8rem;
}
.navbar-brand-text{
  font-size: 2.2rem;
  margin-top: 17px;
    color: #FF0000;
    font-weight: 600;
}
.navbar-brand-text span{
    color:#FF0000;
}
.navbar-brand-icon{
    width: 40px;
    margin-right:1.5px;
    margin-top: 7px;
}
.nav-items{
  position: absolute;
  font-size: 1.8rem;
  font-weight: 450;
  left: 250px;
}
.nav-home{
  position: absolute;
  top: -41px;
  left: 300px;
}
.nav-about{
  position: absolute;
  top: -41px;
  left: 400px;
}
.nav-services{
  position: absolute;
  top: -41px;
  left: 500px;
}
.nav-contact{
  position: absolute;
  top: -41px;
  left: 620px;
}
.btn1{
  position: absolute;
  top: -48px;
  left: 800px;
  text-emphasis-color: white;

}
.btn2{
  position: absolute;
  top: -48px;
  left: 910px;
  text-emphasis-color: white;
}
.Header-rec{
  width: 1350px;
height: 520px;
flex-shrink: 0;
border-radius: 75px;
background: #004B9E;
position: absolute;
left: 85px;
top: 105px;
}
.text1{
  color: white;
  font-weight: 600;
  font-size: 50px;
  position: absolute;
  left: 90px;
  top: 100px;
}
.text2{
  color: white;
  font-weight: 200;
  font-size: 20px;
  position: absolute;
  left: 90px;
  top: 250px;
}
.header-img{
  width: 620px;
height: 560px;
flex-shrink: 0;
position: absolute;
left: 660px;
top: -10px;
}
.btn3{
  position: absolute;
  left: 90px;
  top: 360px;
  width: 120px;
  height: 40px;
}
.btn3:hover{
  color: white;
  border-color: white;
  width: 120px;
  height: 40px;
}
.btn4{
  position: absolute;
  left: 220px;
  top: 360px;
  border-color: white;
  color: white;
  width: 120px;
  height: 40px;
}
.btn4:hover{
  width: 120px;
  height: 40px;
}

.section-one {
  padding: 64px 0;
  min-height: 80vh;
  display: flex;
  align-items: center;
  margin-top: 460px;
  margin-bottom: 60px;
}


.section-one-l img{
  position: absolute;
    max-width: 380px;
    top: 690px;
    left: 250px;
  }
.section-one-r{
  color: #004B9E;
}
.lg-title{
  font-size: 30px;
  position: absolute;
  top: 720px;
  left: 780px;
}
.text3{
  position: absolute;
  top: 820px;
  left: 780px;
  font-size: 19px;
}

.section-two {
  padding: 64px 0;
  background: #004B9E;
}

.section-two .section-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the values as needed */
  gap: 20em;
}


.section-two .section-item {
  max-width: 340px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.section-two .section-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5rem; /* Add margin to separate the icon from the text */
}

.section-two .section-item-icon img {
  width: 80px;
}

.section-two .section-item-title {
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.section-two .text {
  margin: 0.9rem 0;
  color: white;
  font-size: 1.5rem;
}
.contact-text{
  position: absolute;
  top: 1750px;
  text-align: left;
font: 700 30px/40px 'Jost', sans-serif;
left: 200px;
color: #004B9E;
}
.contact-innertext{
  position: absolute;
  top: 1800px;
  left: 200px;
  font: 400 20px/25px 'Jost', sans-serif;
  color: #004B9E;
}
.contact-img{
  width: 350px;
height: 350px;
position: absolute;
top: 1900px;
left:300px;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px;
  border: transparent;/* Some padding */
  background: white;
  border-radius: 10px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical;
}
label{
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
}
input[type=submit] {
  background-color: #FF0000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 150px;
  position: absolute;
  left: 170px;
  top: 540px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: green;
}

/* Add a background color and some padding around the form */
.container1 {
  position: absolute;
  top: 1700px;
  background-color: white;
  padding: 20px;
  width: 500px;
  height: 620px;
  left: 850px;
  border-radius: 30px;
  background:  #004B9E;
}
.footer-rec, .footer-rec * {
     box-sizing: border-box;
     }
.footer-rec {
    position: absolute;
     overflow: visible;
     width: 100%;
     height: 400px;
     top: 2400px;
     background: #002956;
    }
    .footer-img{
      width: 40px;
      margin-right: 4px;
      border-radius: 40px;
      position: absolute;
      left: 460px;
      top: 100px;
    }
    .logo-txt{
      color: white;
      position: absolute;
      top: 110px;
      left: 505px;
      font-size: 20px;
      font-weight: 600;
      font-style: 'Jost', sans-serif;
    }
    .foot-txt{
      color: white;
      position: absolute;
      top: 160px;
      left: 460px;
      font-size: 20px;
      font-weight: 500;
      font-style: 'Jost', sans-serif;
    }
    .foot-txt1{
      color: white;
      position: absolute;
      top: 260px;
      left: 460px;
      font-size: 20px;
      font-weight: 600;
      font-style: 'Jost', sans-serif;
    }
    .footbu{
      position: absolute;
      top: 310px;
      left: 450px;
    }
  .foot-img{
    width: 300px;
    height: 300px;
    position: absolute;;
    left: 50px;
    top: 90px;
  }
  .footimg1{
    width: 300px;
    height:300px;
    position: absolute;
    left: 1050px;
    top: 70px;
  }

.foot-line {
    background-color: white;
    opacity: 0.5;
     width: 100%;
     height: 2px;

     position: absolute;
     top: 350px;
    }
    .copy{
      color: white;
      text-align: center;
      position: absolute;
      left: 110px;
      margin-top: 15px;
      width: 80%;

    }
.right-side{
  background-color: #002956;
  width: 50.4%;
height: 100%;

position: absolute;
top: -2px;
left: 762px;
}
.right-img{
  width: 450px;
height: 300px;
position: absolute;
top: 380px;
left: 270px;
}
.text4{
  color: white;
  font: 600 50px/70px 'Jost', sans-serif;
  position: absolute;
  left: 100px;
  top:70px;
}
.text5{
  color: white;
  font: 400 20px/30px 'Jost', sans-serif;
  position: absolute;
  left: 100px;
  top: 200px;
  width:350px;
  margin-top: 40px;
}
.heading-left{
  color: #004B9E;
  font-size: 38px;
  font-weight: 600;
  position: absolute;
  top: 70px;
  left: 80px;
}
.innertext{
  color: #004B9E;
  font-size: 18px;
  font-weight: 200;
  position: absolute;
  top: 120px;
  left: 80px;
}
.btn5{
  position: absolute;
  top: 170px;
  left: 80px;

  height: 50px;
  width: 150px;
}
.btn6{
  position: absolute;
  top: 170px;
  left: 250px;
  height: 50px;
  width: 150px;
}
.btn6:hover{
  height: 50px;
  width: 150px;
}
.line{
  width: 310px;
height: 1px;
background: rgba(0, 75, 158, 0.40);
position: absolute;
top: 260px;
left: 40px;
}
.or{
  width: 516px;
height: 22px;
flex-shrink: 0;
color: rgba(51, 51, 51, 0.50);
font-size: 18px;
font-weight: 500;
line-height: 24px; /* 133.333% */
letter-spacing: -0.36px;
position: absolute;
top: 245px;
left: 375px;
}
.line1{
  width: 310px;
height: 1px;
background: rgba(0, 75, 158, 0.40);
position: absolute;
top: 260px;
left: 410px;
}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}



/* Set a style for all buttons */
.btn7 {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.account{
  position: absolute;
  top: 260px;
  left: 50px;
  width: 600px;
  border: none;
}
